/* golbal css file is uaually included on all pages */

body {
  font-family: "Oswald", sans-serif;
  padding: 150px;
  text-decoration: none;
   /* background: url('../img/bg.jpg');  */
  background-repeat: no-repeat;
  background-size: cover;


}

a {
  color: #91972A
}
